<div class="p-4">
    <ng-container *ngIf="listTrainings">
        <table class="table-auto shadow-md border-spacing-x-1.5 border-spacing-y-1.5">
            <tr class="bg-slate-200">
                <th>ID</th><th>name</th><th>description</th><th>price</th>
            </tr>
            <tr *ngFor="let training of listTrainings" class="border-spacing-x-1.5 border-spacing-y-1.5">
                <td>{{training.id}}</td>
                <td>{{training.name}}</td>
                <td>{{training.description}}</td>
                <td>{{training.price}}</td>
                <td> <input type="number" name="quantity" style="width: 60px" [(ngModel)]="training.quantity"></td>
                <td> <a class="rounded-full bg-blue-400 hover:bg-blue-800 min-w-200" (click)="onAddToCart(training)">Ajouter</a></td>
            </tr>
        </table>
    </ng-container>
</div>